<section class="qd22-actions-sidecar">
<div><button type="button" data-action="close-actions-sidecar">Close</button></div>
<nav>
<button type="button" data-action="toggle-drawer" data-drawer="combat">Combat</button>
<button type="button" data-action="toggle-drawer" data-drawer="skills">Skills</button>
<button type="button" data-action="toggle-drawer" data-drawer="spells">Spells</button>
<button type="button" data-action="toggle-drawer" data-drawer="settings">Settings</button>
</nav>
{{#if isCombatDrawerOpen}}<input type="search" value="{{combatSearch}}" data-action="combat-search" />
{{#each indexedAttacks as |attack|}}<div data-search-row="combat" data-search-text="{{attack.searchText}}"><button data-action="toggle-favorite-attack" data-actor-id="{{../activeActor.id}}" data-attack-key="{{attack.attackKey}}">Fav</button><button data-action="roll-attack" data-actor-id="{{../activeActor.id}}" data-attack-index="{{attack.index}}">Attack</button><button data-action="roll-damage" data-actor-id="{{../activeActor.id}}" data-attack-index="{{attack.index}}">Dmg</button></div>{{/each}}{{/if}}
{{#if isSkillsDrawerOpen}}<input type="search" value="{{skillsSearch}}" data-action="skills-search" />{{#each indexedSkills as |skill|}}<div data-search-row="skills" data-search-text="{{skill.searchText}}"><button data-action="roll-skill" data-actor-id="{{../activeActor.id}}" data-skill-index="{{skill.index}}">Roll</button><button data-action="toggle-quick-skill" data-actor-id="{{../activeActor.id}}" data-skill-key="{{skill.quickSkillKey}}">Pin</button><button data-action="unpin-quick-skill" data-actor-id="{{../activeActor.id}}" data-skill-key="{{skill.quickSkillKey}}">Unpin</button></div>{{/each}}{{/if}}
{{#if isSpellsDrawerOpen}}<input type="search" value="{{spellsSearch}}" data-action="spells-search" />{{#each indexedSpells as |spell|}}<div data-search-row="spells" data-search-text="{{spell.searchText}}"><button data-action="toggle-favorite-spell" data-actor-id="{{../activeActor.id}}" data-spell-key="{{spell.spellKey}}">Fav</button><button data-action="roll-spell" data-actor-id="{{../activeActor.id}}" data-spell-index="{{spell.index}}">Roll</button></div>{{/each}}{{/if}}
<button data-action="open-reference" data-ref-type="book" data-ref-name="Basic" data-ref-page="1" data-ref-source="manual">Ref</button>
<button data-action="open-reference-index">Index</button>
</section>
